# IDE related
.idea/
.vscode/

/bin/

# OS related
.DS_Store

# Environment variables file
.env

# Vendor directory
/vendor/

## Private keys
#cert/*.key
#
#cert/*.csr
## Certificate Signing Request files
#
## CA serial number file
#cert/*.srl