# Database
POSTGRES_DB=chat_db
POSTGRES_USER=chat_user
POSTGRES_PASSWORD=password
MIGRATIONS_DIR=./migrations
DB_HOST=db
DB_PORT=5432
DB_HOST_PORT=54322

# GRPC
GRPC_PORT=50052

# Docker
DOCKER_USERNAME=

APP_NAME=chat
MIGRATOR_NAME=chat_migrator
COMPOSE_PROJECT_NAME=chat