# Database
POSTGRES_DB=chat_server_db
POSTGRES_USER=chat_server_user
POSTGRES_PASSWORD=password
MIGRATIONS_DIR=./migrations
DB_HOST=db
DB_PORT=5432
DB_HOST_PORT=54322
MIGRATOR_NAME=chat_server_migrator

PG_DSN="host=localhost port=${DB_HOST_PORT} dbname=${POSTGRES_DB} user=${POSTGRES_USER} password=${POSTGRES_PASSWORD} sslmode=disable"

APP_NAME=chat_server

# GRPC server
GRPC_HOST=0.0.0.0
GRPC_PORT=50052

# Authentication
AUTH_HOST=192.168.100.104
AUTH_PORT=50051

# Logger
LOG_LEVEL=debug
LOG_FILENAME=logs/app.log
LOG_MAX_SIZE_MB=10
LOG_MAX_BACKUPS=3
LOG_MAX_AGE_DAYS=7

# Tracing
JAEGER_HOST=jaeger
JAEGER_PORT=6831
