# Database
POSTGRES_DB=chat_server_db
POSTGRES_USER=chat_server_user
POSTGRES_PASSWORD=password
MIGRATIONS_DIR=./migrations
DB_HOST=db
DB_PORT=5432
DB_HOST_PORT=54322

# GRPC
GRPC_PORT=50052

# Docker
DOCKER_USERNAME=mikhailsoldatkin

APP_NAME=chat-server
MIGRATOR_NAME=chat_migrator
COMPOSE_PROJECT_NAME=chat-server